/* general style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */

header {
    height: 60px;
    padding-top: 20px;
    background-color: rgb(78, 165, 209);
    background-image: url('../img/pattern.png');
    background-size: contain;

}

#logo {
    width: 160px;
    height: 50px;
    margin-left: 20px;
}

/* main style */

main {
    padding: 15px;
}

/* first section style */

.title {
    margin: 20px 0;
}

.grey {
    color: grey;
    font-size: 12px;
}

#booleaners {
    font-size: 15px;
    color: rgb(78, 165, 209);
}

.photo-description {
    font-size: 12px;
}

/* second section style */

.evidenziato {
    background-color: yellow;
}

p {
    margin: 30px 0;
}

ul {
    margin: 40px 15px;
}

/* table style */

#row-blue {
    color: white;
    background-color: blue;
}

.row-colored {
    background-color: aqua;
}